.about {
  @extend %flex-center;
  flex-direction: column;
  padding: 30px 0;
  margin: 0 0 30px 0;

  h1 {
    color: white;
    font-family: $sub-font;
    font-size: 50px;
    padding: 20px 50px;
    border-bottom: 2px solid white;
    margin: 20px auto;
    @media (max-width: 992px) {
      font-size: 40px;
    }
    @media (max-width: 768px) {
      font-size: 35px;
    }
    @media (max-width: 576px) {
      font-size: 30px;
    }
  }

  .content {
    @extend %flex-center;
    flex-direction: column;
    text-align: start;
    width: 70vw;
    font-size: 20px;
    @media (max-width: 992px) {
      width: 80vw;
      font-size: 18px;
    }
    @media (max-width: 768px) {
      width: 85vw;
      font-size: 16px;
    }
    @media (max-width: 576px) {
      width: 90vw;
      font-size: 15px;
    }
  }

  .icons {
    @extend %flex-center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 48vw;
    .icon-single {
      text-align: center;
      width: 12vw;
      margin-bottom: 50px;
      img {
        max-height: 80px;
      }
      p {
        margin: 10px auto;
        font-family: $sub-font;
        font-weight: bold;
        font-size: 18px;
      }
    }

    @media (max-width: 1350px) {
      width: 60vw;
      .icon-single {
        width: 15vw;
      }
    }

    @media (max-width: 992px) {
      width: 72vw;
      .icon-single {
        width: 18vw;
        img {
          max-height: 50px;
        }
      }
    }

    @media (max-width: 768px) {
      width: 80vw;
      .icon-single {
        width: 20vw;
        img {
          max-height: 40px;
        }
        p {
          font-size: 16px;
        }
      }
    }

    @media (max-width: 576px) {
      width: 88vw;
      .icon-single {
        width: 22vw;
        img {
          max-height: 30px;
        }
        p {
          font-size: 14px;
        }
      }
    }

    @media (max-width: 450px) {
      width: 88vw;
      .icon-single {
        width: 22vw;
        img {
          max-height: 30px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}