.about {
  @extend %flex-center;
  flex-direction: column;
  padding: 30px 0;

  h1 {
    color: white;
    font-family: $sub-font;
    font-size: 50px;
    padding: 20px 50px;
    border-bottom: 2px solid white;
    margin: 20px auto;
  }

  .content {
    @extend %flex-center;
    flex-direction: column;
    text-align: start;
    width: 70vw;
    font-size: 20px;
  }

  .icons {
    @extend %flex-center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 48vw;
    .icon-single {
      text-align: center;
      width: 12vw;
      margin-bottom: 50px;
      img {
        max-height: 80px;
      }
      p {
        margin: 10px auto;
        font-family: $sub-font;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}