.experiences {
  @extend %flex-center;
  flex-direction: column;
  padding: 30px 0 60px 0;
  margin: 30px 0;

  h1 {
    color: white;
    font-family: $sub-font;
    font-size: 50px;
    padding: 20px 50px;
    border-bottom: 2px solid white;
    margin: 20px 0 40px 0;
    text-align: center;
    @media (max-width: 992px) {
      font-size: 40px;
    }
    @media (max-width: 768px) {
      font-size: 35px;
    }
    @media (max-width: 576px) {
      font-size: 25px;
    }
    @media (max-width: 450px) {
      font-size: 24px;
      padding: 20px 10px;
    }
    @media (max-width: 375px) {
      font-size: 22px;
    }
  }

  .experiences-container {
    @extend %flex-center;
    flex-direction: column;
    width: 80vw;

    .experience-right, .experience-left {
      @extend %flex-center;
      justify-content: space-between;
      align-items: center;
      margin: 50px 0;
      @media (max-width: 992px) {
        flex-direction: column;
        margin: 30px 0;
      }
      img {
        display: block;
        margin-right: 40px;
        height: 12vh;
        @media (max-width: 1350px) {
          height: 12vh;
        }
        @media (max-width: 992px) {
          height: 10vh;
          margin-right: 0;
        }
      }
      .content {
        width: 50vw;
        z-index: 2;
        @media (max-width: 1350px) {
          width: 60vw;
        }
        @media (max-width: 1200px) {
          width: 50vw;
        }
        @media (max-width: 992px) {
          text-align: center;
          margin-left: 0;
          width: 80vw;
        }
        @media (max-width: 576px) {
          width: 90vw;
        }

        h2 {
          font-size: 35px;
          font-family: $sub-font;
          margin: 0;
          @media (max-width: 1200px) {
            font-size: 30px;
            margin-top: 30px;
          }
          @media (max-width: 768px) {
            font-size: 25px;
          }
          @media (max-width: 576px) {
            font-size: 20px;
          }
        }

        h3 {
          font-style: italic;
          @media (max-width: 768px) {
            font-size: 18px;
          }
          @media (max-width: 576px) {
            font-size: 16px;
          }
        }

        p {
          background-color: $light-black;
          padding: 20px 15px 25px 15px;
          color: rgb(197, 192, 192);
          border-radius: 0px;
          @media (max-width: 1200px) {
            font-size: 15px;
          }
          @media (max-width: 992px) {
            font-size: 18px;
            text-align: start;
            padding: 20px 20px 20px 20px;
          }
          @media (max-width: 768px) {
            font-size: 16px;
          }
          @media (max-width: 576px) {
            font-size: 14px;
          }
          

          ul {
            margin: 0 auto;
          }
        }
      }
    }

    .experience-left {
      @media (max-width: 992px) {
        flex-direction: column-reverse;
      }
      .content {
        text-align: end;
        margin-right: 40px;
        @media (max-width: 992px) {
          text-align: center;
          margin-right: 0;
        }
      }

      img {
        @media (max-width: 992px) {
          margin-left: 0;
        }
      }
    }
  }
}