.header {
  @extend %flex-center;
  font-family: $sub-font;
  padding: 10px 0;
  position: fixed;
  background-color: $black;
  opacity: 0.9;
  z-index: 1000;
  width: 100%;

  nav {
    width: 80vw;
    ul {
      list-style-type: none;
      padding-left: 0;
      @extend %flex-center;
      justify-content: space-around;
      li {
        cursor: pointer;
        font-size: 20px;
        padding: 5px;
        &:hover, &:active {
          background: $grey;
          border-radius: 5px;
        }
      }
    }
  }

}